.gradle/
.kotlin/
.cache/
.data/
.env
.env.*
!.env.example
!.env.server.example
!.env.local.example
!.env.nginx.example
.idea/
node_modules/
dist/
target/
__pycache__/
*.tsbuildinfo
**/build/
local.properties
.DS_Store
